@charset "utf-8";

body {
	min-width: 750px;
}

.b-block{
	width: calc(100% - 48px);
}

.b-search-tours .desktop{
	display: none;
}
.b-search-tours .tablet{
	display: inline-block;
}
.b-search-tours{
	padding: 13px 25px 14px 25px;
}
.b-search-tours:hover .icon-next{
	-webkit-transform: none;
	   -moz-transform: none;
    	-ms-transform: none;
    	 -o-transform: none;
    		transform: none;
}

.b-statistics-item span {
    font-size: 32px;
    line-height: 36px;
    padding-top: 20px;
}
.b-statistics-item img {
    height: 62px;
}
.b-statistics-item p {
    font-size: 20px;
    line-height: 24px;
}
.b-statistics {
    margin-bottom: 65px;
}
.b-3-woman{
	max-width: 800px;
	left: -160px;
}
.b-3-content-top {
    position: relative;
    z-index: 1;
    padding-top: 122px;
    padding-bottom: 210px;
}
.b-3-back {
	top: -250px;
    height: 900px;
    background-size: 1400px;
}
.b-3-text .div-p {
    font-size: 40px;
    line-height: 52px;
}
.b-3-text .div-p b {
    font-size: 46px;
    line-height: 56px;
}
.b-3 {
    margin-bottom: 80px;
}
.b-4 h2 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 60px;
}
.b-mailing-cont {
    width: calc(100% - 318px);
}
.b-mailing-form .b-btn-submit {
    width: auto;
    min-width: 260px;
}
.b-mailing-form input[type=text] {
    width: calc(100% - 306px);
}
.b-footer-item.column-1,
.b-footer-item.column-2{
	margin-right: 100px;
}
.b-footer-politics,
.b-copyright{
	margin-right: 50px;
}
.b-hot-group .b-mailing-cont{
	width: 100%;
}
.b-hot-group .b-search-subscribe .b-mailing-form input[type=text] {
	width: calc(100% - 306px);
}
.b-search-subscribe .b-mailing-form input[type=text] {
    width: calc(50% - 15px);
    margin-bottom: 24px;
}
.b-search-subscribe .b-mailing-form input[type=text]:nth-child(2n) {
    margin-right: 0;
}
.b-search-subscribe .b-subscribe-form .b-btn-submit {
    width: 400px;
}
.b-feedback.b-feedback-shadow .b-5-manager{
	right: 16px;
}
.b-4-item:nth-child(3n) .div-p{
     padding: 0; 
}
.b-tourvisor-main div.TVHotelStar {
    margin-right: 12px;
}
.b-tourvisor-with-filter div.TVMainFilterButton{
	box-sizing: border-box;
	max-height: 100px;
}
.b-hot-block{
	margin-top: 0;
}
/*.b-tourvisor-header div.TVMainFilterButton{
	box-sizing: border-box;
	max-height: 100px;
}
.b-tourvisor-header div.TVWideForm.TVTheme2 .TVCountry,
.b-tourvisor-header div.TVWideForm.TVTheme2 .TVDates{
    width: 25%;
}
.b-tourvisor-header div.TVWideForm.TVTheme2 .TVNights{
	width: 14%;
}
.b-tourvisor-header div.TVWideForm.TVTheme2 .TVTourists{
	width: 16%;
}
.b-tourvisor-header div.TVWideForm.TVTheme2 .TVSearchButton{
    width: calc(20% - 8px);
}*/
.b-tourvisor-calendar-cont .TVCalDiagramItem {
    width: 2.2%;
    margin: 0 0.5%;
}
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVLocationButton,
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVCountry{
	width: 20%;
}
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVDates{
    width: 18%;
}
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVNights{
	width: 14%;
}
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVTourists{
	width: 14%;
}
.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVSearchButton{
    width: calc(14% - 16px);
    margin-top: 10px;
}

.b-tourvisor-with-filter div.TVResultTheme2 {
    width: calc(100% - 330px);
    margin-left: 24px;
}
.TVSRBodyContainer .b-subscribe-form input {
    margin-bottom: 24px;
    width: calc(50% - 8px);
}
.TVSRBodyContainer .b-subscribe-form input:nth-child(2){
	margin-right: 0;
}
.TVSRBodyContainer .b-subscribe-form .b-checkbox {
    margin-top: 24px;
}
.b-search-pay img {
    right: -77px;
}
.b-search-pay-content {
    max-width: 387px;
}

div.TVModalContainer{width: calc(100% - 16px) !important;}
		div.TVOrderWindow{width: 100% !important;}
				div.TVOrderTourParams{right: auto;bottom: -50px;left: 0px;}
				div.TVOrderShareBlock{right: 83px;bottom: -60px;}
			div.TVOrderHotelBlock{padding-top: 71px;}
				div.TVOrderHotelName{max-width: calc(100% - 44px);width: 100%;}
					div.TVOrderTourDetail{display: inline-block;width: 69%;}
						div.TVOrderTourDetailColumn1{width: 40%;}
						div.TVOrderTourDetailColumn2{width: 50%;}
		div.TVClosePopup{right: 20px;top: 19px;color: #FFF;}
					div.TVDescrHotelUpButton{margin-left: 241px;}
div.TVCatAboutHotelBlock{width: 65%;box-sizing: border-box;}
div.TVCatAboutHotelRightSidebar{
	width: 35%;
	box-sizing: border-box;
}
div.TVCatAboutHotelBlock .TVSimpleSlidePic{
	height: 300px;
}
div.TVCatHotelPicturesBlock ul{
	width: calc(100% + 11px);
}
	div.TVCatHotelPicturesBlock li{width: 56px;height: 48px;}
div.TVCatNavMap{
	display: none;
}
div.TVOrderHeader .TVOrderIncludePrice{
	width: calc(50% - 12px);
	padding: 0px;
	margin-right: 24px;
}
div.TVOrderHeader .TVOrderIncludeAvia{
	width: calc(50% - 12px);
}
div.TVOnlyChecked{
	display: none !important;
}
div.TVFOPayBlock {
    margin-left: 30px;
}

div.TVFOFlyTitleBlock {
    display: inline-block;
    width: 50%;
    margin-top: 16px;
    box-sizing: border-box;
}
div.TVFOFlyTitleBlock.TVFORight {
    margin-left: 0px;
    padding-left: 7px;
}
div.TVFOFlyBlock {
    width: calc(50% - 8px);
}
div.TVFOFlyBlock.TVFORight{
	margin-left: 14px;
}
div.TVFlySelected.TVFlyItem {
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
}
div.TVFORight .TVFlyItem{
	margin-left: 0;
}
div.TVFlyDescBlock {
    margin-left: 26px;
}
div.TVFlyDetailBlock {
    display: block;
    margin-bottom: 0;
    width: 100%;
}
div.TVFlyAirBlock {
    text-align: center;
    margin-bottom: 12px;
}
div.TVOFPasportNum>input {
    width: 102px;
}
div.TVFORow1 {
    width: 33%;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 10px;
    margin-right: 0;
    margin-left: 0;
}
div.TVFORow2 {
    width: 33%;
    box-sizing: border-box;
    padding-right: 20px;
}
div.TVFORow3 {
    width: 33%;
    box-sizing: border-box;
    padding-right: 20px;
}
.b-search-tours{
	min-width: 180px;
}

.b-block-ttv div.ttv-search .ttv-column.ttv-first{
	min-height: 150px;
	padding: 0;
}
.b-block-ttv div.ttv-field{
	position: relative;
	width: calc(100%/3);
	border-bottom: 1px solid #D8D8D8;
}
.b-block-ttv div.ttv-search .ttv-field:nth-child(3){
	z-index: 2;
}
.b-block-ttv div.ttv-search .ttv-field:nth-child(3):after{
	display: none;
}
.b-block-ttv div.ttv-search .ttv-field:nth-child(4),
.b-block-ttv div.ttv-search .ttv-field:nth-child(5),
.b-block-ttv div.ttv-search .ttv-field:nth-child(6){
	width: calc(100%/3);
	border-bottom: none;
}


.ttv-add-city {
    width: 45px;
    height: 45px;
    bottom: calc(50% - 21px);
    left: auto;
    right: 16px;
    background-image: none;
    border: 5px solid #EFF2F6;
    border-radius: 100px;
}
.ttv-add-city:before{
	display: block;
    padding-top: 8px;
}
.b-block-ttv .ttv-search .ttv-selected-cities {
    padding: 0 65px 0 16px;
}

@media screen and (max-width: 1210px){
	.b-menu li a{
		padding: 6px 10px 7px 10px;
	}
	.b-3-text {
	    width: 436px;
	}
	.b-3-content-bottom .div-p {
	    font-size: 44px;
	    line-height: 58px;
	}
	.b-3-content-bottom {
	    padding: 57px 93px 63px 93px;
	}
	.b-3-back{

	}
	.b-operators-item .b-img {
	    width: calc(100% - 32px);
	}
	/*.visa-master{
		display: none;
	}*/
	.b-footer-item.column-1, .b-footer-item.column-2 {
	    margin-right: 60px;
	}
	.b-feedback-text {
	    padding-left: 104px;
	}
	.b-5-manager,
	.b-feedback .b-5-manager{
		right: 0;
	}
	.b-feedback.b-feedback-shadow .b-feedback-text{
	    padding-left: 32px;
	}
	.b-tourvisor-main div.TVHotelStar {
	    margin-right: 6px;
	}

	.b-hot-group-price{
		width: 146px;
    	padding-right: 12px;
	}
	.b-hot-group-button{
		width: 145px;
	}
	.b-btn-hot-hotel{
	    min-width: 145px;
	    padding: 12px 0;
	}
	.b-hot-group-img {
	    width: 110px;
	    height: 74px;
	}
	.b-hot-group-name{
		padding-left: 16px;
	}
	.b-block-ttv div.ttv-search .ttv-column.ttv-checkboxes .b-checkbox {
	    width: 33%;
	}
	
}

@media screen and (max-width: 1090px){

	.b-menu-logo{
		display: none;
	}
	.b-menu.transform ul{
	    -webkit-transform: none; 
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	.b-menu ul{
	}
		.b-menu li,
		.b-menu.transform li{
			margin-right: 12px;
		}
	.b-country-list{

	}
		/*===Если есть слайдер==*/
		.b-country-list .b-country-slider + .b-country-item{
			margin-right: 0;
		}
		.b-country-list .b-country-slider ~ .b-country-item:nth-child(4n-1){
			margin-right: 24px;
		}
		.b-country-list .b-country-slider ~ .b-country-item:nth-child(3n-1){
			margin-right: 0;
		}
		.b-country-list .b-country-slider ~ .b-country-item{
			margin-right: 24px;
		}
		/*===Если нет слайдера==*/
		.b-country-item:nth-child(4n){
			margin-right: 24px;
		}
		.b-country-item:nth-child(3n){
			margin-right: 0;
		}
		/*======================*/
		.b-country-item{
			width: calc(100%/3 - 16px);
			height: 383px;
		}
		.b-country-list.square .b-country-item{
			height: 302px;
		}
		.b-country-item.wide{

		}
		.b-country-slider{
			width: calc(100%/3*2 - 9px);
		}

	.b-hot-item{
		width: calc(100%/3 - 16px);
	}
	.b-hot-list .b-hot-item:nth-child(4n){
		margin-right: 24px;
	}
	.b-hot-list .b-hot-item:nth-child(3n){
		margin-right: 0;
	}
	.b-mailing-cont {
	    padding: 34px 46px 52px 46px;
	}
	.b-footer-contacts {
	    width: 260px;
	}
	.b-categories .b-country-list{

	}
		.b-categories .b-country-item{
			width: calc(100%/3 - 24px);
		}
	.b-feedback-text{
	    padding-left: 0;
	}

	.adv-main-left {
	    vertical-align: top;
	}

	.b-articles-detail .b-content-back {
	    padding: 20px 24px;
	}
	.b-articles-detail-left .b-country-adv-item {
	    width: calc(50% - 26px);
	}
	.b-advice img {
	    width: 180px;
	}
	.b-advice-text {
	    padding-left: 16px;
	}
	.b-advice-text p {
	    font-size: 16px;
	    line-height: 24px;
	    padding-left: 32px;
	}
	.b-advice-text p:before {
	    width: 24px;
	    height: 16px;
	    top: -10px;
	    background-size: 24px;
	}
	.b-articles-detail-left {
	    width: calc(100% - 250px);
	    padding-right: 24px;
	}
	.b-articles-detail-right {
	    width: 250px;
	}
	.b-articles-detail-left .adv-main-left{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	.b-articles-detail-left .adv-main-right{
		display: block;
		width: 100%;
		padding-left: 0;
	}
	.b-articles-detail-left > h2,
	.b-articles-detail-left .adv-main-right h3 {
	    font-size: 28px;
	    line-height: 36px;
	}

	.b-article-page-item .b-img{
		width: 200px;
		height: 120px;
	}
	.b-article-page-item .b-right{
		width: calc(100% - 226px);
	}

	.b-tourvisor-with-filter div.TVMainFilter{
		white-space: normal;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVLocationButton,
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVCountry{
		width: 50%;
		border-bottom: 1px solid #ddd;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVCountry:after{
		display: none;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVDates{
	    width: 25%;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVNights{
		width: 25%;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVTourists{
		width: 25%;
	}
	.b-tourvisor-with-filter div.TVSideFilterForm.TVTheme2 .TVSearchButton{
	    width: calc(25% - 16px);
	}
	.b-search-pay img {
	    display: none;
	}
	.b-search-pay-content {
	    max-width: 100%;
	}
	div.TVTheme2 .TVSRNavButton, .TVTheme2 a.TVSRNavButton, .TVTheme2 a.TVSRNavButton:link {
	    padding: 5px 12px;
	}
	.TVTem2Buttons .TVSRNavButton, .TVTheme2 a.TVSRNavButton, .TVTheme2 a.TVSRNavButton:link {
	    margin: 15px 10px 2px 0;
	}
	div.tv_drop_panel.TVCountryCombo:after{
		left: auto;
		right: 24px;
	}

	.b-tourvisor-with-filter .TVTourContainer .TVTourBlock .TVImage {
	    height: 125px;
	    width: 180px;
	}
	div.TVTourContainer .TVTourBlock .TVInfo {
	    margin-left: 200px;
	}
	.b-tourvisor-with-filter .TVFilterForm,
	.b-tourvisor-with-filter .TVSideFilterForm.TVTheme2 .TVOptionForm{
		padding: 16px 16px 40px 16px;
	}
	.defaultTVFilterForm {
	    width: 280px;
	}
	.b-tourvisor-with-filter div.TVResultTheme2 {
	    width: calc(100% - 296px);
	    margin-left: 16px;
	}
	div.TVTourContainer {
	    padding-bottom: 16px;
	    padding-top: 16px;
	}
	.TVTheme2 .TVNavButton.TVPriceTitle{
		display: none;
	}
	div.TVTourContainer .TVTourBlock .TVNavButton,
	div.TVTourContainer .TVTourBlock .TVNavButton.TVRSActiveButton {
	    padding: 6px 12px;
	    margin: 19px 6px 2px 0;
	}
	div.TVTourContainer .TVTourBlock .TVPriceBlock {
	    margin-top: 21px;
	}
	div.TVTourContainer .TVTourBlock .TVPriceValue,
	div.TVCurrencyRUB .TVCurrencyVal:after,
	div.TVCurrencyVal:after{
	    font-size: 24px;
	    line-height: 28px;
	}
	div.TVTourBlock .TVPriceSuffix {
	    margin-right: 6px;
	}
	div.TVTourBlock .TVPriceArrow:before {
	    top: 7px;
	}

}

@media screen and (max-width: 1024px){
	
	.b-head-top-right {
		text-align: left;
    	float: none;
    	padding-top: 14px;
        margin-left: 26px;
	}
	.b-head-inner .b-head-top{
		margin-bottom: 20px;
	}
	.b-menu{
		display: none;
	}
	.b-menu-mobile-cont{
	    display: block;
	}
	.b-head{
		padding-top: 40px;
	}
	.b-3-back {
	    height: 780px;
	    background-size: 1100px;
	}
	.b-3-woman {
	    max-width: 630px;
	    left: -160px;
	}
	.b-3-content-top {
	    padding-top: 102px;
	    padding-bottom: 110px;
	}
	.b-3-text {
	    width: 406px;
	}
	.b-3-content-bottom {
	    padding: 46px 60px 53px 60px;
	}
	.b-statistics-item{
		text-align: center;
	}
		.b-statistics-item-top {
		    margin-bottom: 14px;
		}
		.b-statistics-item span {
		    margin-top: -5px;
		    padding-top: 0;
		    left: 0;
		}
		.b-statistics-item img {
			left: 0;
		    display: block;
		    margin: 0 auto;
		}
		.b-statistics-item p {
		    padding: 0 8px;
		    text-align: center;
		}
	.b-article-list{
		margin-bottom: 20px;
	}
		.b-article-item{
			width: calc(100%/3 - 19px);
			margin-right: 24px;
			margin-bottom: 24px;
		}
		.b-article-item:nth-child(4n){
			margin-right: 24px;
		}
		.b-article-item:nth-child(3n){
			margin-right: 0;
		}
	.b-card{
		width: calc(100%/4 - 20px);
	}
	.b-feedback-text,
	.b-feedback.b-feedback-shadow .b-feedback-text{
	    max-width: 510px;
	    padding-top: 42px;
	}
		.b-feedback-text h2,
		.b-feedback.b-feedback-shadow .b-feedback-text h2{
		    font-size: 42px;
		    line-height: 50px;
		}
		.b-feedback .b-5-manager,
		.b-feedback.b-feedback-shadow .b-5-manager{
		    width: 365px;
		    height: 635px;
		}
	.b-country-adv-img{
		height: 200px;
	}
	.b-footer-item.column-1,
	.b-footer-item.column-2 {
	    margin-right: 30px;
	}
	.b-copyright{
		display: block;
	}
	.b-5-text {
	    padding-left: 0;
	    max-width: 446px;
	}
	.b-search-subscribe .b-mailing-form input[type=text],
	.b-mailing-form input[type=text] {
	    width: 100%;
	    margin-bottom: 24px;
	}
	.b-hot-group .b-mailing-form .b-btn-submit{
		width: auto;
	}
	.b-mailing-form .b-btn-submit{
		width: 100%;
	}
	.b-mailing-form .b-checkbox{
		margin-top: 24px;
	}
	.b-contacts-left{
		float: none;
		padding-right: 0;
		width: 100%;
	}
		.b-contacts-item{
			display: inline-block;
			vertical-align: top;
			width: 49%;
			padding-right: 24px;
			margin-bottom: 24px;
		}
		.b-contacts-item.address,
		.b-contacts-item.work,
		.b-contacts-item.requisites{
			max-width: none;
		}
		.b-contacts-item.requisites{
			width: 100%;
		}
	.b-contacts-right{
		float: none;
		width: 100%;
		height: 450px;
		margin-top: 32px;
	}
	.b-contacts-slider img {
	    width: 500px;
	    height: 312px;
	}
	.b-search-subscribe .b-subscribe-form .b-btn-submit {
	    width: 100%;
	}
	.b-hot-nav{
		display: none;
	}
	.b-hot-groups {
	    width: 100%;
	}
	.b-popup.b-hotel-popup {
	    width: calc(100% - 48px);
	}

	.b-about-top-sign {
	    margin-right: 40px;
	    width: 140px;
	    height: 77px;
	}
	.b-about-top-left {
	    padding-right: 32px;
	}
	.b-about-top-right{
		height: 400px;
	}
	.b-about-top-dir {
	    width: calc(100% - 186px);
	}
	.b-about-top-left {
	    font-size: 16px;
	    line-height: 24px;
	}
	.b-about-top-left h3 {
		font-size: 28px;
    	line-height: 36px;
	    margin-bottom: 20px;
	}

	.b-about-selection p {
	    font-size: 28px;
	    line-height: 36px;
	}
	.b-about-selection p br,
	.b-about-services-item p br{
		display: none;
	}
		.b-about-selection h2 {
	    font-size: 45px;
	    text-align: left;
	    margin-bottom: 35px;
	}
	.b-about-services-item img {
	    width: 120px;
	    height: 120px;
	    margin-bottom: 24px;
	}
	.b-about-wide {
	    background-position: 75% 50%;
	}

	.b-articles-page-left {
	    width: calc(100% - 280px);
	}
	.b-articles-page-right {
	    width: 254px;
	}

	div.TVTheme2 .TVOptionStars {
	    padding-top: 11px;
	}
	.b-tourvisor-main div.TVHotelStar {
	    width: 20px;
	    height: 20px;
	    margin-right: 8px;
	}
	.b-tourvisor-main div.TVTheme2 .TVHotelStar:before {
	    font-size: 20px;
	}
	.b-tourvisor-main div.TVTheme2 .TVHotelStar.TVImageActive:before {
	    font-size: 20px;
	}
	.b-tourvisor-calendar-cont .TVCalDiagramDate {
	    margin-top: 14px;
	    font-size: 14px;
	}
	.b-tourvisor-with-filter div.TVTheme2 .TVSRNavButton,
	.b-tourvisor-with-filter div.TVTheme2 a.TVSRNavButton,
	.b-tourvisor-with-filter div.TVTheme2 a.TVSRNavButton:link{
		display: none;
	}
	div.tv_drop_panel.TVDatePickerPanel:after{
		left: 20%;
	}

	.b-block-ttv div.ttv-search .ttv-column.ttv-checkboxes .b-checkbox {
	    width: 50%;
	}

}

@media screen and (max-width: 920px){

	.b-footer-item.column-3{
		display: none;
	}
	.b-footer-item.column-1{
	    margin-right: 60px;
	}
	.b-5-manager{
	    width: 365px;
	    height: 621px;
	}
	.b-5-text {
	    padding-top: 63px;
	    padding-bottom: 100px;
	}
	.b-reviews{

	}
		.b-review-list{

		}
			.b-review-item{
				width: calc(50% - 20px);
			}

			.b-review-item:nth-child(3n){
				margin-right: 24px;
			}
			.b-review-item:nth-child(2n){
				margin-right: 0;
			}
				.b-review-item p {
				    margin-bottom: 12px;
				}
	.b-categories-item p {
	    font-size: 18px;
	    line-height: 18px;
	}

	.b-article-page-item .b-img {
		display: block;
	    width: 302px;
		height: 180px;
		margin-bottom: 20px;
	}
	.b-article-page-item .b-right{
		display: block;
		width: 100%;
	}
	
	/*.b-tourvisor-header div.TVMainFilter{
		white-space: normal;
	}
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVCountry,
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVDates{
	    width: 50%;
	    border-bottom: 1px solid #ddd;
	}
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVDates:after{
		display: none;
	}
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVNights,
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVTourists{
		 width: 33%;
	}
	.b-tourvisor-header div.TVWideForm.TVTheme2 .TVSearchButton{
	    width: 33%;
	    margin-top: 10px;
	}*/

	div.TVWideForm.TVTheme2 .TVStars {
	    width: 18%;
	    margin-right: 1%;
	}
	div.TVTheme2 .TVOptionStars {
	    padding-top: 12px;
	}
	.b-tourvisor-main div.TVHotelStar {
	    width: 18px;
	    height: 18px;
	    margin-right: 5px;
	}
	.b-tourvisor-main div.TVTheme2 .TVHotelStar:before {
	    font-size: 18px;
	}
	.b-tourvisor-main div.TVTheme2 .TVHotelStar.TVImageActive:before {
	    font-size: 18px;
	}
	div.TVFORow1 {
	    width: 50%;
	}
	div.TVFORow2 {
	    width: 50%;
	}
	div.TVFORow3 {
	    width: 50%;
	}
	.TVSRBodyContainer .b-search-subscribe.b-mailing-cont,
	.TVSRBodyContainer .b-subscribe-cont,
	.b-search-pay-wrap{
	    padding: 24px;
	}
	.b-tourvisor-with-filter .TVTem2Image {
	    height: 105px;
	    width: 150px;
	}
	.b-tourvisor-with-filter .TVTem2Image img {
	    height: 105px;
	}
	.b-tourvisor-with-filter div.TVTem2Info {
	    margin-left: 168px;
	}

	div.TVHelpFormControl .TVSRUserContactsBlock, div.TVHelpFormControl .TVSRUserDataSearch {
	    width: 100%;
	    padding-right: 0;
	    box-sizing: border-box;
	}
	div.TVHelpFormControl .TVSRUserContactsBlock{
		margin-bottom: 8px;
	}
}

@media screen and (max-width: 850px){

	.b-country-list{

	}
		/*===Если есть слайдер==*/
		.b-country-list .b-country-slider{
			margin-right: 0;
		}
		.b-country-list .b-country-slider ~ .b-country-item:nth-child(3n-1){
			margin-right: 24px;
		}
		.b-country-list .b-country-slider ~ .b-country-item:nth-child(2n-1){
			margin-right: 0;
		}
		.b-country-list .b-country-slider ~ .b-country-item{
			margin-right: 24px;
		}
		/*===Если нет слайдера==*/
		.b-country-item:nth-child(3n){
			margin-right: 24px;
		}
		.b-country-item:nth-child(2n){
			margin-right: 0;
		}
		/*======================*/
		.b-country-item{
			width: calc(50% - 12px);
		}
		.b-country-item.wide{

		}
		.b-country-slider{
			float: none;
			width: 100%;
			margin-right: 0;
		}
	.b-hot-item{
		width: calc(100%/2 - 12px);
	}
	.b-hot-list .b-hot-item:nth-child(3n){
		margin-right: 24px;
	}
	.b-hot-list .b-hot-item:nth-child(2n){
		margin-right: 0;
	}
	.b-4-item h3 {
	    font-size: 28px;
	    line-height: 36px;
	    margin-bottom: 14px;
	}
	.b-4-item .div-p {
	    font-size: 18px;
	    line-height: 28px;
	}
	.b-mailing-cont h2 {
	    font-size: 38px;
	    line-height: 48px;
	}
	.b-3-text {
	    width: 336px;
	}
	.b-3-text .div-p {
	    font-size: 32px;
	    line-height: 46px;
	}
	.b-3-text .div-p b {
	    font-size: 36px;
	    line-height: 46px;
	}
	.b-5-text {
	    max-width: 390px;
	    padding-bottom: 80px;
	}
	.b-5-text h2 {
	    font-size: 42px;
	    line-height: 50px;
	}
	.b-5-text > .div-p {
	    font-size: 18px;
	    line-height: 28px;
	    margin-bottom: 40px;
	}
	.b-5-text .b-btn .btn-regular {
	    font-size: 16px;
	}
	.b-5-manager {
	    width: 335px;
	    height: 550px;
	}
	.b-5-name {
	    right: 18px;
	    padding: 20px 20px 18px 20px;
	}
	.b-feedback-back {
	    height: 604px;
	    background-position: 58% 50%;
	    background-size: 1420px;
	}
	.b-feedback .b-5-manager,
	.b-feedback.b-feedback-shadow .b-5-manager {
	    width: 295px;
	    height: 512px;
	}
	.b-5-manager, .b-feedback .b-5-manager {
	    right: -16px;
	}
	.b-5-name{
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
	}
	.b-5-name .div-p {
	    font-size: 20px;
	    line-height: 28px;
	}
	.b-5-name small {
	    font-size: 14px;
	    line-height: 14px;
	}

	.TVTheme2 .TVNavButton.TVReviewTitle{
		display: none;
	}

}
